.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.initialLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  margin-top: 20px;
}

.endMessage {
  text-align: center;
  padding: 40px 20px;
}

.endMessage p {
  color: var(--gray-dark);
  font-size: 16px;
  margin: 50px;
  font-weight: 500;
}

.topButton {
  cursor: pointer;
  border: none;
  font-size: 28px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--gray-light);
  color: var(--white);
}
