.card {
  width: 241px;
  .thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--gray-light);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
  }
  .thumbnailContainer {
    position: relative;
    .soldOut {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 241px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: var(--white);
    }
  }

  .badgeList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    margin-bottom: 4px;
  }

  .brand {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-dark);
    margin-bottom: 4px;
  }

  .title {
    height: 40px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 8px;

    /* 2줄 ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .priceList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .originalPrice {
      font-size: 12px;
      font-weight: 400;
      color: var(--gray-dark);
      text-decoration: line-through;
      margin-bottom: 4px;
    }

    .discountInfo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .discountPercentage {
        color: var(--error);
        font-weight: 800;
        margin-right: 4px;
      }

      .currentPrice {
        font-size: 20px;
        font-weight: 700;
        color: var(--primary);
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .card {
    width: 100%;

    .thumbnail {
      width: 100%;
      height: 100%;
    }

    .thumbnailContainer {
      .soldOut {
        height: calc(100% - 8px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;

    .title {
      height: 32px;
      line-height: 16px;
      font-size: 14px;
    }

    .brand {
      font-size: 10px;
    }

    .priceList {
      .originalPrice {
        font-size: 10px;
      }

      .discountInfo {
        .discountPercentage {
          font-size: 16px;
        }

        .currentPrice {
          font-size: 18px;
        }
      }
    }
  }
}
