.card {
  width: 241px;
  .thumbnail {
    border-radius: 10px;
    border: 1px solid var(--gray-light);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
  }
  .badgeList {
    margin-bottom: 4px;
  }

  .brand {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-dark);
    margin-bottom: 4px;
  }

  h3 {
    height: 40px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 8px;
  }
}
