.productDetailPageWrapper {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .productDetailPage {
    width: 1024px;

    .productInfoContainer {
      display: flex;
      gap: 40px;
    }
  }
}
.initialLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
